.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to bottom, #a3b18a, #d38e0e); */
  background: #afa04c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #a5d6a7;
}


.leaf-container {
  background: radial-gradient(circle at center, #1b5e20, #0b3d0b);
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0 0 15px #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.leaf-icon {
  font-size: 60px;
  color: #4caf50;
  filter: drop-shadow(0 0 5px #81c784);
}

.loader-text {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  text-shadow: 0 0 5px #81c784;
}
